@import 'shared/color_schemes';

#header-partial {
  a.log-out {
    color: $reddish;

    &:hover{
      color: darken( $reddish, 15% ) ;
    }
  }
}
.img-thumbnail{
  width: 60px;
  height: 60px;
}
