$first_color: rebeccapurple;
$second_color: #1a1a90;  // blueish
$third_color: #428bca; // twitter blue
$text_color: #DDDDDD;
$background_color: black;
$reddish: #c12d2d; // reddish

$button_color_1: $second_color;
$button_color_2: #1a1a90;
$glow_color: yellow;
$paint_surface_color: lightgray;
