$first_color: rebeccapurple;
$second_color: #1a1a90;  // blueish
$third_color: #428bca; // twitter blue
$text_color: #DDDDDD; // semi white
$pop_out_background_color: #111111; // semi black
$background_color: black;
$reddish: #c12d2d; // reddish

$button_color_1: $second_color;
$glow_color: $reddish;
$paint_surface_color: 999999;
