
body {
  background: $background_color;
  margin-top: 20px;


  & * {
    color: #DDDDDD;
    font-weight: 300;
  }
}

.row {
  margin-bottom: 15px;
}

.back-link-col {
  margin-top: 15px;
  p { font-size: 20px; }
}

.btn-primary {
  background-color: $first_color;
  border-color: $third_color;
}

.border-primary {
  border-color: $first_color !important;
}

.popover {
  min-width: 100px;
  border-color: $first_color;
  background-color: $first_color;

  & * {
    // background-color: $background_color;
    background-color: $pop_out_background_color;
  }


    .popover-body{
      color: $text_color !important;

    }

  .popover-title{
    border-bottom-color: $first_color;
  }
}

a {
  & * {
    color: $third_color;
  }

  &:hover{
    color: darken( $third_color, 15% ) ;
  }
  color: $third_color;
  text-decoration: underline;
}
