/ #description-container
/   .row
/     .col-xs-10.col-xs-offset-1.col-xm-10.col-sm-offset-1
/       .drawing

/         = image_tag ''

/         form
/           .input-append
/             input.span2 type="text"
/             button.btn type="button" Done

