/ #description-container
/   .row
/     .col-xs-10.offset-col-xs-1.col-xm-10.offset-sm-1
/       .drawing

/         = image_tag ''

/         form
/           .input-append
/             input.span2 type="text"
/             button.btn type="button" Done

