
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import 'shared/color_schemes';


body {
  background: $background_color;
  margin-top: 20px;


  & * {
    color: #DDDDDD;
    font-weight: 300;
  }
}

.row {
  margin-bottom: 15px;
}

.back-link-col {
  margin-top: 15px;
  p { font-size: 20px; }
}

.btn-primary {
  background-color: $first_color;
  border-color: $third_color;
}

.popover {
  min-width: 100px;
  border-color: $first_color;
  background-color: $first_color;

  & * {
    background-color: $background_color;
  }
  .popover-title{
    border-bottom-color: $first_color;
  }
}

a {
  & * {
    color: $third_color;
  }

  &:hover{
    color: darken( $third_color, 15% ) ;
  }
  color: $third_color;
  text-decoration: underline;
}


