#choose-game-type-page {
  font-size: 20px;
  i.fa-question-circle {
    margin-left: 10px;
  }


  .game-type-options {
    margin-bottom: 20px;

    .description{
      margin-bottom: 5px;

    }
  }

  #private-game-option, #public-game-option {

  }

  #upload-cards-container{
    font-size: 20px;
  }
  .user-avatar{
    display: inline-block;
    margin-left: 10px;
  }
}


