@import 'shared/color_schemes';

#choose-game-type-page {
  font-size: 20px;

  .fa {
    font-size: 1.25em;
    vertical-align: middle;
  }
  .popover {
    min-width: 225px;
  }

  .join-code-text-field {
    text-transform: uppercase ;
  }
}


