// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary: '';
$secondary: '';



#game{

  .tab-content{
    height: 400px;
    background-color: lightgray;
    .tab-pane{
      margin: 5px 10px;
    }
  }
}

