// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'shared/color_schemes';

#game{

  .tab-content{
    height: 400px;
    background-color: $paint_surface_color;
    .tab-pane{
      margin: 5px 10px;
    }
  }
}

