@import 'shared/color_schemes';

#postgame, #all-postgames-page {
  .glow {
    color: $reddish;
  }

  hr {
    border-top: 2px solid $text_color;
    width: 100%;
  }

  hr.dotted-line {
    border-top: 2px dotted $text_color !important;
    width: 75%;
  }


  a.carousel-control {
    opacity: .9;

    & > * {
    color: $first_color !important !important;
    opacity: 1 !important !important;
    }
  }
}

#postgame {
  .game-index-counter {
    display: none;
  }
}

#all-postgames-page {
  #unassociated-cards-header {
    text-align: center;
  }
}
