@import 'shared/color_schemes';

#post-game, #all-postgames-page {
  margin-top: 25px;

   .carousel {
    max-width: 500px;
    margin: auto;
  }

  .carousel.slide {
    .carousel-caption {
      top: 25%;
    }
    .carousel-indicators li {
      &.active { background-color: $first_color; }

      background-color: $background_color;
    }
  }
  .glow {
    color: $glow_color;
  }
}
