@import 'shared/color_schemes';

#rendezvous-page{
  .back-link-col{
    margin-top: 0;
  }

  & > [class*='col-']{
    margin-bottom: 25px;
  }

  .randezvous-join-code {
    color: $first_color;
  }
}
