// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "bootstrap-sprockets";
@import 'shared/color_schemes';

.session-new {

  font-weight: 300;

  .jumbotron{
    & * { font-weight: 200; }

    margin-top: 10px;
    outline: 20px solid $first_color;
    border: solid 2px $background_color;
    background: $first_color;
    border-radius: 100px;

    .instructions-container {
      text-align: center;
      height: 40px;

      & * {
        display: inline;
        color: $third_color;
        text-decoration: underline;
      }
    }

    .social-media-col {
      text-align: center;
      border-radius: 10px;

      img { width: 125px; }
    }
  }

  .sub-text {
    h5 {
      &::before, &::after {
        color: $first_color;
        font-weight: bold;
      }
    }
  }
}
